<div class="ex_title">
    <div class="title">
        <h1 id="history_title">Criador de histórias</h1>
        <h5>Deixe sua criatividade voar!</h5>
    </div>
</div>
<div id="content">
    <div class="input_atom form_item" style="max-width: 200px;">
        <h4>Título</h4>
        <input class="input_text" type="text" id="title" style="width:100%;">
    </div>
    <div id="choices">
    </div>
    <div id="add_choice_div">
        <button id="add_choice" class="btn btn-outline-dark">Adicionar Escolha</button>
        <button id="del_choice" class="btn btn-outline-dark">Exluir última escolha</button>
        <button id="submit" class="btn btn-outline-dark">
            <% if(submit){ %>
                Submeter História
            <% }else{ %> 
                Gerar json
            <% } %> 
        </button>

        <% if(!submit){ %>
            <p>O código da história está aqui:<br> <span id="json-res"></span></p>
        <% }%> 
        
    </div>
    
</div>