<div class="header">
    <% if (user){ %>
        <span>Ol치 <%- user %>, tenha um bom dia!</span>
        <a href="/login/logout">
            <div class="header_item">
                Logout
            </div>
        </a>
        <br>
    <% } else { %>
        <a href="/login">
            <div class="header_item">
                Login
            </div>
        </a>
        <a href="/cadastro">
            <div class="header_item">
                Cadastrar
            </div>
        </a>
        <br>
    <% } %>
    <a href="/criar_historia">
        <div class="header_item">
            Criar hist칩ria
        </div>
    </a>
    <a href="/">
        <div class="header_item">
            P치gina principal
        </div>
    </a>
    <a href="/jogar_historia">
        <div class="header_item">
            Jogar hist칩ria
        </div>
    </a>  
</div>