<div class="header">
    <a href="/criar_historia">
        <div class="header_item">
            Criar história
        </div>
    </a>
    <a href="/">
        <div class="header_item">
            Página principal
        </div>
    </a>
    <a href="/jogar_historia">
        <div class="header_item">
            Jogar história
        </div>
    </a>
</div>