<div class="header">
    <% if (user){ %>
        <span>Olá <%- user %>, tenha um bom dia!</span>
        <br>
        <a href="/submit_story">
            <div class="header_item">
                Criar minha história
            </div>
        </a>
        <a href="/minhas_historias">
            <div class="header_item">
                Minhas Histórias
            </div>
        </a>
        <a href="/login/logout">
            <div class="header_item">
                Logout
            </div>
        </a>
        <br>
    <% } else { %>
        <a href="/login">
            <div class="header_item">
                Login
            </div>
        </a>
        <a href="/cadastro">
            <div class="header_item">
                Cadastrar
            </div>
        </a>
        <br>
    <% } %>
    <a href="/criar_historia">
        <div class="header_item">
            Criar história
        </div>
    </a>
    <a href="/">
        <div class="header_item">
            Página principal
        </div>
    </a>
    <a href="/jogar_historia">
        <div class="header_item">
            Jogar história
        </div>
    </a>  
</div>