<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title"></h1>
        </div>
    </div>

    <div id="content">
        <p id="History"></p>
        <p>O que você escolhe?</p>
        <div id="options"></div>
    </div>

    <script>
        function option_clicked() {
            console.log(options[this.id].link, options[this.id].Texto)
            if (options[this.id].link !== null){
                current_choice = options[this.id].link
                load_history()
            }
        }

        function mouse_above_option(){
            this.style.backgroundColor = 'rgba(0, 0, 0, 255)'
        }

        function mouse_non_above_option(){
            this.style.backgroundColor = 'rgba(0, 0, 0, 0)'
        }

        function history_initialization(){
            var title = document.getElementById("history_title")
            title.innerText = main_json.Titulo
        }

        function load_history(){
            var content = document.getElementById("History")
            
            content.innerText = main_json.Escolhas[current_choice].História

            options = main_json.Escolhas[current_choice].Opções

            var options_div = document.getElementById("options")

            options_div.innerHTML = ""

            options.forEach(option => {
                let el = document.createElement('div')
                el.className = "option"
                el.id = option.Id
                el.innerHTML = `<p class="option"> ${option.Texto}</p>`
                el.addEventListener('click', option_clicked, false)
                el.addEventListener('mouseover', mouse_above_option, false)
                el.addEventListener('mouseout', mouse_non_above_option, false)
                options_div.appendChild(el)
            });
            
        }

        var current_choice = 0
        var options
        var main_json
        
        const fetchPromise = fetch('https://luizmgoncalves.github.io/story_telling_creator/history.json');

        fetchPromise.then( response => {
            const jsonPromise = response.json();
                jsonPromise.then( json => {
            main_json = json
            history_initialization()
            load_history()
            });
        });
    </script>
</body>
</html>