/***********CAIXAS************/

div.input_atom {
    max-width: 900px;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.10);
    border-radius: 50px;
    background: #eee;
    text-align: center;
    margin: 2rem auto 2rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/****************************/


/***********BOTÕES INFERIORES************/

#add_choice_div {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}


/**************************************/


/***********TITULO************/

h5 {
    color: rgb(110, 2, 2);
    font-family: 'Lucida Handwriting Italic';
}


/***************************/

.input_number {
    width: 40px;
}

.choice_table {
    border-collapse: separate;
    border-spacing: 10px;
}

input {
    width: 50px;
    height: 20px;
    background-color: #f2f2f2;
    padding: 3px;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 50px;
}