body{
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{
    text-align: center;
    color:rgb(110, 2, 2);
    font-family:'Lucida Handwriting';
}

.title{
    padding-left: 20px 5px 20px 5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;

    margin-top: 50px;

    text-align: center;
    max-width: 600px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

h1#history_title{
    font-family:'Lucida Handwriting';
}
#content{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: fit-content;
}

a{
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
