body{
    background-color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.ex_title{
    text-align: center;
    width: 100%;
}
.title{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    border-color: black;
    border-style: solid;
    border-width: 3px;

    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
h5{
    text-align: center;
    color:rgb(110, 2, 2);
    font-family:'Lucida Handwriting';
}

h1#history_title{
    text-align: center;
    font-family:'Lucida Handwriting';
}
#content{
    margin-left: 20%;
    margin-right: 20%;
}
