<!doctype html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
  <body>
    <%- include('../partials/header'); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Cadastro</h1>
        </div>
        <style>
            p.description{
                font-size: 16px;
                text-indent: 0px;
            }
        </style>
    </div>
    <div id="content">
        <div class="input_atom">
            <form action="/cadastro" method="POST">
                <table>
                    <% if(!sucess) { %>
                    <tr>
                        <td>
                            <label for="username">Nome de usuário: </label>
                        </td>
                        <td>
                            <input name="username" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Email: </label>
                        </td>
                        <td>
                            <input name="email" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Senha: </label>
                        </td>
                        <td>
                            <input name="password" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login" />
                        </td>
                    </tr>
                    <%}%>
                    <% if(message_err.length > 0) { %>
                    <tr>
                        <td colspan="2">
                            <p class="description">
                                <label style="color:Red"><%- message_err %></label>
                            </p>
                        </td>
                    </tr>
                    <%}%>
                    <% if(message) { %>
                    <tr>
                        <td colspan="2">
                            <p class="description">
                                <label style="color:Green"><%= message %></label>
                            </p>
                        </td>
                    </tr>
                    <%}%>
                </table>
            </form>
        </div>
    </div>
  </body>
</html>