<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir senha</title>
    <link rel="stylesheet" type="text/css" href="/css/input_style.css">
    <%- include('../partials/head') %> 
    <style>
        p.description{
            font-size: 16px;
            text-indent: 0px;
        }
    </style>
    </head>
  <body>
    <%- include('../partials/header', {user: null}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Redefinir senha</h1>
        </div>
    </div>
    <div id="content">
        <div class="row container">
            <div class="col-sm-4">
                <p style="color:red; text-align: justify;"> <span style="text-decoration: underline; font-size: large;">Atenção: </span> <br> <br> &#8594; Esse site ainda está em fase de desenvolvimento e não guarda nenhuma informação sensível, <span style="font-weight: bold;">não use uma senha que você usa em outros sites por segurança.</span><br>Existe alguma chance de seus dados serem descartados numa futura atualização.</p>
            </div>
            <div class="input_atom col-sm-6" style="max-width: 400px;">
                <form action="/cadastro/forget" method="POST">
                    <% if(!sucess) { %>
                    <div class="form-group form_item">
                        <label for="email">Email: </label>
                        <input name="email" type="text" class="form-control" placeholder="email@exemplo.com"/>
                    </div>
                    <div class="form-group form_item">
                        <label for="password">Nova senha: </label>
                        <input name="password" type="password" class="form-control" placeholder="senha"/>
                    </div>
                        
                    <input type="submit" value="Redefinir" class="btn btn-outline-primary form_item"/>
                        
                    <%}%>
                    <% if(message_err.length > 0) { %>
                    <div class="form-group">
                        <p class="description">
                            <label style="color:Red"><%- message_err %></label>
                        </p>
                    </div>
                    <%}%>
                    <% if(message) { %>
                    <div class="form-group">
                        <p class="description">
                            <label style="color:Green"><%= message %></label>
                        </p>
                    </div>
                    <%}%>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>