<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title"></h1>
        </div>
    </div>

    <div id="content">
        <p id="History"></p>
        <p id="choice">O que você escolhe?</p>
        <div id="options"></div>
    </div>

    <script src="/js/script.js"></script>
    <script>
        var current_choice = 0
        var options
        var main_json
        main_json = <%- JSON.stringify(history_json) %> 
        history_initialization()
        load_history()
    </script>
</body>
</html>