<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title"></h1>
        </div>
    </div>

    <div id="content">
        <p id="History"></p>
        <p>O que você escolhe?</p>
        <div id="options"></div>
    </div>

    <script src="/js/script.js"></script>
    <p id="history_id" hidden="true"><%- history_id %></p>
    <script>
        var current_choice = 0
        var options
        var main_json

        let history_id = document.getElementById("history_id").innerText
        
        const fetchPromise = fetch(`/carregar_historia/${history_id}/`);

        fetchPromise.then( response => {
            const jsonPromise = response.json();
                jsonPromise.then( json => {
            main_json = json
            history_initialization()
            load_history()
            });
        });
    </script>
</body>
</html>