<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Telling</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="titulo">
        Story Telling
        <h3 class="subtitulo">
            Deixe sua imaginação voar!
            <hr id="pcl">
        </h3>
    </div>
    <a class="back-to-top" href="#">▲</a>

    <div id="content">

        <h1>O que o Story-Trees pode fazer por você?</h1>
        <hr>
        <p> Você já pensou o que aconteceria se eu tomasse uma decisão diferente? Ou quado você estava lendo uma história e gritou de raiva "Porque esse personagem escolheu fazer isso?!" Imagine se Romeu não tivesse tomado veneno, ou se Chapeuzinho Vermelho não tivesse sido salva pelo Caçador, ou até se 
            <br>
            <br> Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            consequatur. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
            commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
            sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute
            iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Quis aute iure reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        </p>
        <br>
        <br>
        <h1>Como Utilizar?</h1>
        <hr>
        <p>Para ajudar nossos novos usuários, preparamos uma explicação básica de cada opção disponível no site:
            <br>
            <br> • "Principais histórias": aqui você encontra uma lista com as histórias mais populares do site, para jogar alguma de seu interesse, basta clicar sobre ela.
            <br> <img src="/images/tutorial1.png" id="tutorial" alt="">

            <br> • "Localmente": ao clicar nessa opção outras duas irão aparecer: "Criar história" e "Jogar história", na primeira você poderá criar e personalizar sua própria escolha, que poderá ser publicada e jogada por outros usuários. Na segunda,
            você poderá inserir um json de uma história, que te levará diretamente para ela. <br>
            <img src="/images/tutorial2.png" id="tutorial" alt=""> <br>
            <img src="/images/tutorial3.png" id="tutorial" alt="">
            <br> Sobrou alguma dúvida? Clique aqui para um tutorial mais completo!!
            <br>


        </p>
        <br>
        <br>
        <h1>Sobre os criadores</h1>
        <hr>

        
    </div>
    <div class="criadores">
        <div class="ana" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore


            </p>
        </div>
        <div class="cris" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore


            </p>
        </div>
        <div class="luiz" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore

            </p>
        </div>
    </div>
    
</body>
</html>