<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Trees</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="titulo">
        Story Trees
        <h3 class="subtitulo">
            Deixe sua imaginação voar!
            <hr id="pcl">
        </h3>
    </div>
    <a class="back-to-top" href="#">▲</a>

    <div id="content">

        <h1>O que o Story-Trees pode fazer por você?</h1>
        <hr>
        <p> Tenho certeza que ao menos uma vez quando você estava lendo uma história já pensou "Que protagonista idiota, porque ele fez isso?". 
            Quer dizer, imagine se Romeu não tivesse tomado veneno, ou se Chapeuzinho Vermelho reconhecesse que a velhinha que estava a sua frente não era sua avó. 
            Que desfechos diferentes e interessantes as histórias poderiam ter se cada uma dessas escolhas tivesse sido tomada de forma diferente, não?!
            Infinitas possibilidades, o céu é o limite! Essa é a nossa missão, Story Trees está aqui para fazer fazer com que cada uma dessas possibilidades seja possível 
            e que sua imaginação não tenha limitação na criação de cenários possíveis diferentes.
            <br>
            <h5 style="color:rgb(206, 0, 0);font-family:'Lucida Handwriting Italic';text-align: center;">Deixe sua criatividade voar!</h5>


        </p>
        <br>
        <br>
        <h1>Como Utilizar?</h1>
        <hr>
        <p>Para ajudar nossos novos usuários, preparamos uma explicação básica de cada opção disponível no site:
            <br>
            <br> • "Principais histórias": aqui você encontra uma lista com as histórias mais populares do site, para jogar alguma de seu interesse, basta clicar sobre ela.
            <br> <img src="/images/tutorial1.png" id="tutorial" alt="">

            <br> • "Offline": ao clicar nessa opção outras duas irão aparecer: "Criar história" e "Jogar história", na primeira você poderá criar e personalizar sua própria história, assim que terminada você gerará um código para essa história. Na segunda,
            você poderá inserir o código da história que você ou outra pessoa criou, e então você poderá jogá-la. <br>
            <img src="/images/tutorial2.png" id="tutorial" alt=""> <br>

            <br>
            <br> Sobrou alguma dúvida? <a href="/tutorial">Clique aqui</a> para um tutorial mais completo!!
            <br>


        </p>
        <br>
        <br>
        <h1>Sobre os criadores</h1>
        <hr>

        
    </div>
    <div class="criadores">
        <div class="ana" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore


            </p>
        </div>
        <div class="cris" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore


            </p>
        </div>
        <div class="luiz" id="perfil">
            <img src="/images/perfil_temporario.png" alt="" id="img-perfil">
            <p>textinho textinho maneiro Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore

            </p>
        </div>
    </div>
    
</body>
</html>