<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">De uma olhada nas nossas histórias</h1>
        </div>
    </div>

    <div id="content">
        <p>As histórias que temos disponíveis no momento são: </p>
        <div id="options">
            <% histories.forEach(function(history){ %>
                <p class="option">
                    <a href="/jogar_historia/<%- history.id %>/" style="text-decoration: none; color: white;">
                        <%- history.title %>
                    </a>
                </p>
            <% }); %>
        </div>
    </div>
</body>
</html>