<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principais Histórias</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/story.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Dê uma olhada nas nossas histórias</h1>
        </div>
    </div>

    <div id="content">
        <p>As histórias que temos disponíveis no momento são: </p>
        <div id="options">
            <% stories.forEach(function(story){ %>
                <div class="encapsulator">
                <a href="/jogar_historia/<%- story._id %>/" style="text-decoration: none; color: white;">
                    <div class="option">
                        <%- story.Titulo %>
                    </div>
                </a>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>