<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogue sua História</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/story.css">
    
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title"></h1>
        </div>
    </div>

    <div id="content">
        <p id="History"></p>
        <p id="choice"></p>
        <div id="options"></div>
        <div style="width:100%; text-align: center;">
            <button class="btn btn-outline-primary" style="margin-top: 30px; font-size: 15px;" id="return">Voltar ao início</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script>
        var current_choice = 0
        var options
        var main_json
        
        
        var text = window.prompt("digite aqui o json gerado pela página \"Criador de histórias\": ")
        try {
            main_json = JSON.parse(text)
            history_initialization()
            load_history()
        } catch{
            document.getElementById('history_title').innerText = "erro ao carregar história"
        }
    
    </script>
</body>
</html>