<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie sua História</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/input_style.css">
    
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <%- include('../partials/create_story_kernel', {submit: false}); %>
    
    <script>
        function handle_json(json_result){
            let el = document.getElementById('json-res')
            el.innerText = JSON.stringify(json_result)
            window.alert("A história foi gerada, agora você pode ir na página \"Jogar história\" e colar lá para jogar a história que você acabou de fazer.")
        }
    </script>
    <script src="/js/create_story.js"></script>
    <script>
        add_choice()
    </script>
</body>
</html>