<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crie sua História</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/input_style.css">
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Criador de histórias</h1>
            <h5>Deixe sua criatividade voar!</h5>
        </div>
    </div>
    <div id="content">
        <div class="input_atom">
            <h4>Título</h4>
            <input class="input_text" type="text" id="title">
        </div>
        <div id="choices">
        </div>
        <div id="add_choice_div">
            <button id="add_choice">Adicionar escolha</button>
            <button id="del_choice">Exluir última escolha</button>
            <button id="submit">Gerar json</button>
        </div>
        <span id="json-res">
        </span>    
    </div>
    
    <script>
        function handle_json(json_result){
            let el = document.getElementById('json-res')
            el.innerText = JSON.stringify(json_result)
            window.alert("A história foi gerada, agora você pode ir na página \"Jogar história\" e colar lá para jogar a história que você acabou de fazer.")
        }
    </script>
    <script src="/js/create_story.js"></script>
    <script>
        add_choice()
    </script>
</body>
</html>