<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/input_style.css">
    
    </head>
  <body>
    <%- include('../partials/header', {user: null}); %>
    <div class="ex_title">
        <div class="title">
            <h1 id="history_title">Login</h1>
        </div>
        <style>
            span.description{
                font-size: 14px;
                text-indent: 0px;
            }
        </style>
    </div>
    <div id="content">
        <div class="input_atom">
            <form action="/login" method="POST">
                <table class="choice_table">
                    <tr>
                    <td>
                        <label for="username">Email: </label>
                    </td>
                    <td>
                        <input id="username" name="username" type="text" />
                    </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Senha: </label>
                        </td>
                        <td>
                            <input id="password" name="password" type="password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Login" />
                        </td>
                    </tr>
                    <% if(message) { %>
                    <tr>
                        <td colspan="2">
                            <span class="description">
                                <label style="color:Red"><%= message %></label>
                            </span>
                        </td>
                    </tr>
                    <%}%>
                    <tr>
                        <td colspan="2">
                            <span class="description">
                                <a href="/users/forgot">Esqueceu sua senha?</a> | <a href="/cadastro">Não possui cadastro?</a>
                            </span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
  </body>
</html>