<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia</title>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" type="text/css" href="/css/input_style.css">
    
</head>
<body>
    <%- include('../partials/header', {user: user}); %>
    <%- include('../partials/create_story_kernel'); %>
    <script src="/js/create_story.js"></script>
    <script>
        function handle_json(json_result){

            fetch("/submit_story", {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify(json_result),
                })
                .then((response) => response.json())
                .then((data) => {
                    if(data.sucess){
                        window.alert("A história foi submetida com sucesso!");
                    }
                })
                .catch((error) => {
                    window.alert("Houve algum erro durante o carregamento da história");
                });

        }

        add_choice()
    </script>
</body>
</html>